<div class="container">
<h2 class="form-heading">Card Details</h2>

<%= simple_form_for(@credit_card) do |form| %>
  <%= form.input :card_number %>
  <%= form.input :card_holder_name %>
  <%= form.input :expiration_date %>
  <%= form.input :cvv %>

  <%= form.button :submit %>
<% end %>
</div>
