<div class="container">
  <%= render "shared/menu" %>
  <h5 class="display-6 py-5"> Card Center </h5>

  <%= render 'card' %>
  <div class="d-flex justify-content-center">
    <%= render 'card_info' %>
  </div>

  <%= render 'shared/tapbar' %>
</div>
<%= render 'card_info' %>

<%# <%= render 'shared/tapbar' %>
