<div class="container">
  <h1>Edit User Profile</h1>

  <%= simple_form_for @user do |form| %>
    <%= form.input :name, label: 'Name' %>
    <%= form.input :address, label: 'Address', as: :text %>
    <%= form.input :phone_number, label: 'Phone Number' %>

    <%= form.button :submit, 'Update Profile', class: 'btn btn-primary' %>
  <% end %>
</div>
