<h1>User Profile</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_number %></td>
        <td>
          <%= link_to 'Show', user_path(user) %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Delete', user_path(user), method: :delete } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New User', new_user_path %>
</p>
