<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-transparent">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "saveapp_navbar_logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <%= link_to "Contact", "#", class: "nav-link" data-bs-toggle="modal" data-bs-target="#modal-contact" href="#" %>
            <%= link_to "Contact", "#", class: "nav-link", "data-bs-toggle": "modal", "data-bs-target": "#modal-contact", href: "#" %>
          </li>
        <%# Modal %>
        <div class="modal fade" id="modal-contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
           <form>
             <div class="mb-3">
               <label for="formGroupExampleInput" class="form-label">Your name</label>
               <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert your name here">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Your email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
              <div id="emailHelp" class="form-text">
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Leave your comment here</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="" rows="3"></textarea>
            </div>
            <footer class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send</button>
            </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
         <%# List %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "avatar.jpeg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", "profile", class: "dropdown-item" %>
              <%= link_to "My goals", "goals", class: "dropdown-item" %>
              <%# <%= link_to "My transactions", operations_path, class: "dropdown-item" %>
              <%# <%= link_to "Dashboard", "dashboard", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
