<div class="container-goal">

  <div class="title">
    <button>
      <%= link_to image_tag("left-arrow.svg", alt: "left-arrow", size: ""), welcome_path %>
    </button>
    <button>
      <%= link_to image_tag("question.svg", alt: "question mark"), welcome_path %>
    </button>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Origin</th>
        <th scope="col">RoundUp</th>
        <th scope="col">Credit Card Number</th>
        <th scope="col">Goal Name</th>
      </tr>
    </thead>

    <tbody>
    <% @operation = Operation.all %>
    <% @credit_cards = CreditCard.all %>
     <% @goals = Goal.all %>
    <% sum = [] %>
    <% @operation.each do |element| %>
      <tr>
        <th scope="row"><%= element.id %></th>
        <td><%= element.operation_date.strftime('%d %b %Y') %></td>
        <td><%= element.operation_origin %></td>
        <td class="text-success">$ <%= format('%.2f', element.next_value[0]) %></td>
        <td><%= @credit_cards.find(element.credit_card_id).card_number.gsub!(/.(?=....)/, '*') %></td>
        <td><%= @goal_name = @goals.find(element.goal_id).goal_name.capitalize  %></td>
        <% @goal_amount = @goals.find(element.goal_id).goal_amount  %>
        <% sum << element.next_value[0] %>
        <% end %>
      </tr>
      <div class="container text-center">
        <h4 class="display-7">Saving Balance: $ <%= sum.sum  %></h4>
        <h4 class="display-7">Goal Percent: <%= number_to_percentage(sum.sum/@goal_amount, precision: 2) %></h4>
        <hr>
      </div>

      <div class="container">
      <h6> <%= @goal_name  %></h6>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style=<%= "#{number_to_percentage(sum.sum/@goal_amount, precision: 0)}" %> aria-valuenow= <%= "#{number_to_percentage(sum.sum/@goal_amount, precision: 0)}" %> aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
      </div>
    </tbody>
  </table>
</div>
