<div class="container">

  <div class="row mt-3">
    <div class="col-1">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="col-10 text-center">
      <h4>Profile</h4>
    </div>
    <div class="col-1">
      <%= link_to edit_user_registration_path do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>
  </div>

  <div class="row mt-3 align-center">
    <div class="col-4">
      <%= image_tag "avatar_3d.png", class: "avatar"%>
    </div>
    <div class="col-8">
      <h3><%= @user.name %></h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <p>Email: <%= @user.email %></p>
      <hr>
      <p>Address: <%= @user.address %></p>
      <hr>
      <p>Phone Number: <%= @user.phone_number %></p>
    </div>
  </div>

</div>
