<div class="container">
   <%= link_to :back do %>
    <%= image_tag("left-arrow.svg", alt: "left-arrow") %>
    <% end %>
  <h1>Update Goal<%= @goal.goal_name %></h1>

<%= simple_form_for(@goal) do |form| %>
  <%= form.input :goal_name %>
  <%= form.input :goal_amount %>

  <%= form.button :submit, "Update Goal", class: "btn btn-primary" %>
<% end %>
</div>
