  <div class="container-goal-index text-center" data-controller="objectives">
  <div class="title-index d-flex justify-content-center mb-3 align-items-center">
    <%= link_to :back do %>
      <%= image_tag("left-arrow.svg", alt: "left-arrow") %>
    <% end %>
    <div class="col-10 text1 text-center">
      <h4 class= "h4 fw-lighter">Goals</h4>
    </div>

    <%= link_to 'contact' do %>
      <%= image_tag("question.svg", alt: "question_mark") %>
    <% end %>

  </div>

  <div class="question text-center">
      <h3>What's your goal?</h3>
  </div>

  <div class="objectives justify-content-center">
    <button data-action="click->objectives#home" >Home
      <%= image_tag "house.svg", alt: "house" %>
    </button>
    <button data-action="click->objectives#travel">Travel
      <%= image_tag "world.svg", alt: "world map" %>
    </button>
    <button data-action="click->objectives#emergency">Emergency
      <%= image_tag "cash.svg", alt: "cash" %>
    </button>
  </div>

  <div class="container">
    <%= render 'form' %>
  </div>

  <div class="container text-center">
    By submitting this application you confirm that you are authorized to share this information and agree with our Term and Conditions
  </div>
</div>
