<!DOCTYPE html>
<html>
  <head>
    <title>Saveapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "saveapp_coin_128x128.png", rel: "icon", type: "image/png", size:"32x32" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%# <%= render "shared/footer" %>
    <%# <%= render 'shared/tapbar'%>

    <%
  paths = [
    root_path,
    welcome_path,
    new_user_session_path,
    user_session_path,
    destroy_user_session_path,
    new_user_password_path,
    edit_user_password_path,
    user_password_path,
    cancel_user_registration_path,
    new_user_registration_path,
    edit_user_registration_path,
    user_registration_path
  ]

  unless paths.any? { |path| current_page?(path) }
%>

  <%= render 'shared/tapbar' %>
  <% end %>


  </body>
</html>
