<div class="container text-center">
  <div class="title-index d-flex justify-content-between mb-3 align-items-center">
    <%= link_to :back do %>
      <%= image_tag("left-arrow.svg", alt: "left-arrow") %>
    <% end %>
    <div class="col-10 text1 text-center">
      <h4 class= "h4 fw-lighter">Operations</h4>
    </div>

    <%= link_to contact_path do %>
      <%= image_tag("question.svg", alt: "question mark") %>
    <% end %>

  </div>
</div>

<div class="container">
  <% @credit_cards = CreditCard.all %>
  <% @goals = Goal.all %>
  <div class="card-product">
    <%= image_tag("saveapp_coin.png", alt:"logo") %>
    <div class="card-product-infos">
      <h2>Origin: <%= @operation.operation_origin %></h2>
      <p>Amount: <%= number_to_currency(@operation.operation_amount, unit: '$', precision: 2) %></p>
      <p>Date: <%= @operation.operation_date.strftime('%d %b %Y') %></p>
      <p>Roundup: <strong class="text-success">$ <%= format('%.2f', @operation.next_value[0]) %></strong></p>
      <p>Credit Card Number: <%= @credit_cards.find(@operation.credit_card_id).card_number.gsub!(/.(?=....)/, '*') %></p>
      <p>Goal: <%= @goal_name = @goals.find(@operation.goal_id).goal_name.capitalize  %> </p>
      <p></p>
    </div>
  </div>
</div>

<%# <%= render 'shared/tapbar' %>
